.form__item {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16.94 / 14);
  padding: 0 0 10px;
  margin: 0;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__item::placeholder,
.form__item::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(17 / 14);
  color: #C4C4C4;
}

@media (max-width: 768px) {
  .form__item::placeholder,
  .form__item::-webkit-input-placeholder {
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}
