.profile__overlay {
  margin-right: 30px;
  position: relative;
}

.profile__overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: 50%;
  opacity: 0;
  transition: opacity .3s linear;
}

.profile__overlay:hover::before {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile__overlay {
    margin: 0 0 26px;
  }
}
